/* Navigation bar */
.navbar{
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}
.navbar li{
    list-style-type: none;
    display: inline;
}

.navbar a{
    text-decoration: none;
    padding: 14px 16px;
    color: white;
    font-size : 24px;
}

.navbar a:hover{
    background-color: #ddd;
    color: black;
}

/*Home Page*/

body{
    margin: 0;
    padding: 0;
}

.contact {
    background-image: url("catPrince.jpg");
}

.welcome{
    background-color: teal;;
    color: white;
    padding: 10% 2%;
    display: box;
    text-align: center;
}

.welcome h1{
    font-size: 75px;
}

.contentBoxA{
    background-color: white;;
    padding: 10% 5%;
    display: flex;
}

.contentBoxA p{
    font-size: 20px;
    float: right;
    color: black;
}

.contentBoxA img{
    width: 80%;
    float: left;
    padding-right: 5%;
}

.contentBoxB{
    background-color: rgb(94, 128, 0);;
    color: white;
    padding: 10% 2%;
    display: block;
    text-align: center;
}

/*Video*/
iframe{
    width: 600px;
    height: 400px;
    display: block;
    margin: 0 auto;
}


